# Ignore any compiled output
/dist
/tmp
/out-tsc

# Ignore any dependencies
*/node_modules

# Ignore any logs
*.log

# Ignore e2e
/e2e/*.js
/e2e/*.map

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings


# System Files
.DS_Store
Thumbs.db
