<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div *ngIf="!showForm">
				<p>Showing results for {{ sport | titlecase }} trainers in {{ location }}.</p>
				<p><a (click)="switchFormStatus(true)">Change your search?</a></p>
			</div>
			<search-form
				*ngIf="showForm">
			</search-form>

			<div [hidden]="isLoading">
				{{ count }} {{ sport | titlecase }} trainer{{ count != 1 ? 's' : '' }} {{ count != 1 ? 'were' : 'was' }} found.
			</div>

			<div class="trainer-preview"
				[hidden]="!isLoading">
				Loading trainers...
			</div>

			<div class="trainer-preview"
				[hidden]="isLoading || profiles.length">
				No trainers match these search parameters.
			</div>
		</div>

		<div class="col-md-4">
			<search-filter></search-filter>
		</div>

		<div class="col-md-8">
			<search-list
				[profiles]="profiles"
				[count]="count"
				[sport]="sport"
				[location]="location">
			</search-list>
		</div>
	</div>
</div>
