<p>Now fill out some information about the training packages you'd like to provide.</p>
<list-errors [errors]="errors"></list-errors>

<form [formGroup]="packagesForm" (ngSubmit)="submitForm()">
	<fieldset [disabled]="isSubmitting">

		<fieldset class="form-group">
			<label for="length">Session Length (Recommended length is 60 minutes)</label>
			<select class="form-control form-control-lg"
				formControlName="session_length"
				name="length">
				<option disabled="true" [selected]="!profile.session_length" value="">Select</option>
				<option *ngFor="let length of options.lengths"
					[ngValue]="length">
					{{ length | minutesToTime }}
				</option>
			</select>
		</fieldset>

		<fieldset class="form-group">
			<label for="rate">Session Price</label>
			<select class="form-control form-control-lg"
				formControlName="session_rate"
				name="rate">
				<option disabled="true" [selected]="!profile.session_rate" value="">Select</option>
				<option *ngFor="let rate of options.rates"
					[ngValue]="rate">
					${{ rate }}
				</option>
			</select>
		</fieldset>

		<fieldset class="form-group">
			<label for="session_type">Session Types</label>
			<p>
				Which types of training sessions would you like to create packages for?
			</p>
			<input class=""
				formControlName="session_type_private"
				name="session_type[private]"
				type="checkbox" /> Private trainings
			<input class=""
				formControlName="session_type_small"
				name="session_type[small]"
				type="checkbox" /> Small group trainings (2-4 clients)
			<input class=""
				formControlName="session_type_large"
				name="session_type[large]"
				type="checkbox" /> Large group trainings (5+ clients)
		</fieldset>

		<p>
			We are going to create packages with 1, 2, 5 and 10 sessions for each training type checked above. It is recommended to at least offer private training packages.
		</p>
		<p>
			Once you are approved, you can make any changes you'd like to any of your packages. (Such as provide a discount on a package with more than 1 session)
		</p>

		<button class="btn btn-lg btn-primary pull-right"
			type="submit">
			Continue
		</button>

	</fieldset>
</form>
