footer {
	/*position: absolute;*/
	bottom: 0;
	width:100%;
    padding: 40px 25px;
	/*background: linear-gradient(#485563, #29323c);*/
    /*background: #f8f8f8;*/
    background: #24292e;
    color: #ffffff;
}
.footer-group {
    list-style: none;
}
.footer-link {
    margin: 5px 0 0 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.70);
}
.footer-link:hover,
.footer-link:focus {
    color: rgba(255, 255, 255, 1.0);
    text-decoration: none;
}

p.copyright {
    margin: 15px 0 0;
}
