<div class="auth-page content-section-b">
    <div class="container page">
        <div class="row">

			<h1 class="text-xs-center">Trainer Application</h1>
			<p class="text-xs-center">
				<a [routerLink]="['/login']" *ngIf="authType === 'register'">Already have an account?</a>
				<a [routerLink]="['/']" *ngIf="authType === 'login'">Not a trainer?</a>
			</p>
			<list-errors [errors]="errors"></list-errors>

			<!-- Switch -->
			<div [ngSwitch]="appView">
				<!-- First form -->
				<form [formGroup]="authForm" (ngSubmit)="submitForm()">
					<fieldset [disabled]="isSubmitting">
						<fieldset class="form-group">
							<input class="form-control form-control-lg"
								formControlName="firstname"
								placeholder="First name"
								type="text" />
						</fieldset>
						<fieldset class="form-group">
							<input class="form-control form-control-lg"
								formControlName="lastname"
								placeholder="Last name"
								type="text" />
						</fieldset>
						<fieldset class="form-group">
							<input class="form-control form-control-lg"
								formControlName="email"
								placeholder="Email"
								type="text" />
						</fieldset>
						<fieldset class="form-group">
							<input class="form-control form-control-lg"
								formControlName="phone"
								placeholder="123-456-7890"
								type="tel"
								pattern="^\d{3}-?\d{3}-?\d{4}$"
								title="Phone number (e.g. 123-456-7890)" />
						</fieldset>
						<fieldset class="form-group">
							<input class="form-control form-control-lg"
								formControlName="password"
								placeholder="Password"
								type="password" />
						</fieldset>
						<fieldset class="form-group">
							<input class="form-control form-control-lg"
								formControlName="password_verify"
								placeholder="Re-enter password"
								type="password" />
						</fieldset>
						<button class="btn btn-lg btn-primary pull-xs-right"
							[disabled]="!authForm.valid"
							type="submit">
							Continue
						</button>
					</fieldset>
				</form>
				<!-- /First form -->
			</div>
			<!-- /Switch -->

        </div>
    </div>
</div>
