<nav class="navbar navbar-default">
    <div class="container">
		<a class="navbar-brand" routerLink="/">TopTraining</a>

		<div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

		<div class="collapse navbar-collapse" id="navbar-collapse">
			<!-- Logged out users -->
			<ul *showAuthed="false"
				class="nav navbar-nav navbar-right">

				<li class="nav-item">
					<a class="nav-link"
						routerLink="/">
						Home
					</a>
				</li>

				<li class="nav-item">
					<a class="nav-link"
						routerLink="/register">
						Apply to Train
					</a>
				</li>

				<li class="nav-item">
					<a class="nav-link"
						routerLink="/login">
						Log In
					</a>
				</li>

				<li class="nav-item">
					<a class="nav-link"
						routerLink="/register">
						Sign Up
					</a>
				</li>

			</ul>
			<!-- /Logged out users -->

			<!-- Logged in users -->
			<ul *showAuthed="true"
				class="nav navbar-nav navbar-right">

				<!-- Admin users -->
				<li *ngIf="currentUser.usertype === 'admin'"
					class="nav-item">
					<a class="nav-link"
						routerLink="/admin/dashboard">
						Dashboard
					</a>
				</li>
				<!-- /Admin users -->

				<!-- Client users -->
				<li *ngIf="currentUser.usertype === 'client'"
					class="nav-item">
					<a class="nav-link"
						routerLink="/client/profile">
						Profile
					</a>
				</li>
				<!-- /Client users -->

				<!-- Trainer users -->
				<li *ngIf="currentUser.usertype === 'trainer'"
					class="nav-item">
					<a class="nav-link"
						routerLink="/trainer/profile">
						Profile
					</a>
				</li>
				<!-- /Trainer users -->

				<li class="nav-item">
					<a class="nav-link"
						(click)="logout()">
						Log Out
					</a>
				</li>

			</ul>
			<!-- /Logged in users -->
		</div>

    </div>
</nav>
