<fieldset class="form-group search-sort">
	<span class="search-sort-text">Sort by</span>
	<select class="form-control search-sort-select"
		[(ngModel)]="filters.sort"
		(change)="onSortChange()"
		name="sort">
		<option value="rating">Rating</option>
		<option value="distance">Distance</option>
		<option value="price">Price</option>
	</select>
</fieldset>

<search-preview
	*ngFor="let profile of pagedProfiles | sort:sort"
	[profile]="profile">
	<p>{{ profile.dist.calculated | number:'1.2-2' }} miles from {{ location }}</p>
</search-preview>

<!-- Pager -->
<div class="pagination ">
	<ul *ngIf="pager.pages && pager.pages.length" class="pagination">
		<li [ngClass]="{ disabled:pager.currentPage === 1 }">
			<a (click)="setPage(pager.currentPage - 1)">Prev</a>
		</li>

		<li *ngFor="let page of pager.pages"
			[ngClass]="{ active:pager.currentPage === page }">
		    <a (click)="setPage(page)">{{ page }}</a>
		</li>

		<li [ngClass]="{ disabled:pager.currentPage === pager.totalPages }">
			<a (click)="setPage(pager.currentPage + 1)">Next</a>
		</li>
	</ul>
</div>
