<search-preview
	*ngFor="let profile of pagedProfiles"
	[profile]="profile">
	<p>{{ profile.dist.calculated | number:'1.2-2' }} miles from {{ query.location }}</p>
</search-preview>

<!-- Pager -->
<div class="pagination ">
	<ul *ngIf="pager.pages && pager.pages.length" class="pagination">
		<li [ngClass]="{ disabled:pager.currentPage === 1 }">
			<a (click)="setPage(pager.currentPage - 1)">Prev</a>
		</li>

		<li *ngFor="let page of pager.pages"
			[ngClass]="{ active:pager.currentPage === page }">
		    <a (click)="setPage(page)">{{ page }}</a>
		</li>

		<li [ngClass]="{ disabled:pager.currentPage === pager.totalPages }">
			<a (click)="setPage(pager.currentPage + 1)">Next</a>
		</li>
	</ul>
</div>
