<div class="banner-background">
	<div class="row">
		<div class="banner col-xs-offset-1 col-xs-10">

			<div class="banner-message">
				<h1 class="">TopTraining</h1>
				<br />
				<h3>Reach the top of your game with top training resources for athletes.</h3>
				<hr class="banner-divider">

				<!-- Default view -->
				<form class="list-inline fix-form"
					*ngIf="!search">

					<button class="btn btn-lg btn-primary banner-button"
						(click)="goToSearch()">
						Find a Trainer
					</button>

					<button class="btn btn-lg btn-primary banner-button"
						*showAuthed="false"
						routerLink="/trainer_app">
						Apply To Train
					</button>

				</form>
				<!-- /Default view -->

				<search-form *ngIf="showForm">
				</search-form>
			</div>

		</div>
	</div>
</div>
