<home-banner
	[currentUser]="currentUser"
	[sports]="sports">
</home-banner>

<div class="content-section-a">
    <div class="container">

		<!-- Mission & How We Work -->
		<div class="content">
		    <h2 class="section-heading">Our Mission and How We Work</h2>

		    <hr class="section-heading-spacer">
		    <div class="clearfix"></div>

		    <div class="row">
		        <div class="col-md-10 col-md-offset-1 lead">
		            This is where our mission statement introductory sentence will be located. This is where our mission statement introductory sentence will be located. This is where our mission statement introductory sentence will be located
		        </div>
		    </div>
		</div>
		<!-- /Mission & How We Work -->

		<!-- Certified, Safe, and Secure -->
		<div class="content">
		    <h2 class="section-heading">Certified, Safe, and Secure</h2>

		    <hr class="section-heading-spacer">
		    <div class="clearfix"></div>

		    <div class="row">
		        <div class="col-md-4 lead">
		            Our trainers are certified and trusted.
		        </div>
		        <div class="col-md-4 lead">
		            Easy booking.&nbsp; Sign up for a training session with the click of a button.
		        </div>
		        <div class="col-md-4 lead">
		            Secure payments.&nbsp; No need to deal with cash or checks.
		        </div>
		    </div>
		</div>
		<!-- /Certified, Safe, and Secure -->

		<!-- What People Are Saying -->
		<div class="content">
		    <h2 class="section-heading">What People Are Saying</h2>

		    <hr class="section-heading-spacer">
		    <div class="clearfix"></div>

		    <div class="row">
		        <div class="col-md-12 lead">
		            Beginning of testimonials
		        </div>
		    </div>
		</div>
		<!-- /What People Are Saying -->
    </div>
</div>
